<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
		
		<!-- Target 클래스(AOP를 적용 할 클래스) -->
		<bean id="testService" class="ex02.aop.interceptor.TestServiceImpl"/>
		
		<!-- Advice 클래스(공통사항) -->
		<bean id="myLogAdvice" class="ex02.aop.interceptor.MyLogAdvice"/>
		
		<!-- Advisor : execution 명시자로 표현식 기술 -->
		<bean id="myAdvisor" class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
			<property name="advice" ref="myLogAdvice"/>
			<property name="expression" value="execution(public * *(..))"/>
		</bean>
		
		<!-- AOP(advice) 적용 : 자동 프록시 생성기 -->
		<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
			
</beans>  
