<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
		<!-- setter를 이용한 프로퍼티 설정(문자열 또는 기본 자료형) -->
		<bean id="userService" class="com.user6.UserServiceImpl">
			<property name="name" value="차차차"/>
			<property name="tel" value="010-4444-5555"/>
			<property name="age" value="30"/>
		</bean>

		<!-- setter는 이거 기준으로 만들어야함 -->
		<!-- byType : 프로퍼티와 동일한 타입의 빈을 찾아 주입(setter), 동일한 타입이 하나인 경우만 사용 가능 -->
		<!-- byName : 프로퍼티와 동일한 이름의 빈을 찾아 주입(setter) -->
		<bean id="user" class="com.user6.User" autowire="byType"/>
</beans>
